 h2{
    color: chartreuse;
    background: cornflowerblue;
 } 
 .headers{
    color: aqua;
    background: blueviolet;
 }

 #heading-2{
    color: cornflowerblue;
    background: crimson;
 }